.form-container {
    display: flex;
    justify-content: center;
  }

  .form-textfield {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    width: 600px !important;
  }

  .search-button {
    text-transform: none !important; 
    margin-bottom: 20px !important;
    margin-top: 30px !important;
    margin-left: 10px !important;
  }

